  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100%;}
#menu {
z-index: 15000;
background-color: gray;
position: absolute;
right: 0px;
bottom: 20px;
height: 17em; width: 7em;
}
.link { color: blue; text-decoration: underline; font-size: small }
#edit_tap_blurb {
    border:1px solid black;
}
.thinking { opacity: 0.4 }
#tap_details { width: 30em }
#tap_details img {
margin: 2px;
position: relative;
top: 4px;
}
#edit_tap_blurb { width:20em; height:7em }
label {
    font-size: small;
    color: gray;
}
#menu {
    padding: 1px;
    font-size: -1pt;
    font-family: monospace;
}
#menu_create {
    border: 1px dotted black;
    height: 33%;
    padding: 3px;
    margin: 1px;
}
#menu_create input {
    width: 100%;
    margin: 1px;
}
#menu_create h5 { margin: 2px; }
#create_tap_howto, #not_showing_taps {
    position: absolute;
    right: 7em;
    background: white;
    padding: 1em;
}
