html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map_canvas { height: 100%;}
#menu {
z-index: 15000;
position: absolute;
right: 0px;
bottom: 20px;
width: 100%;
height:4em;
font-size: -1pt;
font-family: monospace;
}
#menu div { background-color: gray }
#menu_create, #menu_user {
    border: 1px dotted black;
    padding: 2px;
    height: 3.5em;
}
#user_hello_name { overflow: hidden }
#menu_user {
    position: absolute;
    right: 1em;
    width: 10em;
}
#user_menu {
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
}
#user_menu_hidden {
    display: none;
    position: absolute;
    bottom: 1em;
    right: 0em;
    float:right;
    background-color: gray;
    width: 10em;
    padding: 1em;
    border: 1px dotted black;
    border-bottom:none;
}
#user_menu:hover #user_menu_hidden, #user_menu_hidden:hover {
    display: block;
}
#menu_create {
    position: fixed;
    right: 12em;
    width: 10em;
}

#menu_create input { width: 100%; margin: 1px; }
#menu h5, h4 { margin: 2px; }
.link {
color: blue;
text-decoration: underline;
font-size: small
}
#ad {
position: fixed;
top: 2px;
right: 2px;
z-index: 51035845;
}
#edit_tap_blurb {
border:1px solid black;
}
.thinking { opacity: 0.4 }
#tap_details { width: 30em }
#tap_details img {
margin: 2px;
position: relative;
top: 4px;
}
#edit_tap_blurb { width:20em; height:7em }
label {
font-size: small;
color: gray;
}
.angry { color:red; font-weight:bold }
.popoutey {
    position: absolute;
    right: 7em;
    background: white;
    padding: 1em;
    bottom: 4em;
}

.byline {
font-size: 8pt;
color: gray;
float: right;
}
.who {
font-weight:bold;
}
#aboutus {
    border: 1px dotted black;
    padding: 0.5em;
    position: absolute;
    left: 1em;
    background: gray;
}
